.register__centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-msg {
  color: red;
}

.input-style {
  margin: 20px 0px;
}
.loggin__box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5% auto;

  display: flex;
  justify-content: center;
  align-content: center;

  cursor: pointer;
}
.loggin__centered {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.center-button {
  text-align: center;
}

.col-form-label {
  padding-left: 0px;
}
