.navbar-container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

/* .homyTextNavbar {
    font-family: comfortaa;
    font-size: 50px;
    background: -webkit-radial-gradient( left, rgb(255, 247, 0), #f1356d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */