.container-unauthorized{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: auto 10%;
}
.gandalf{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gandalf img {
    width: 80%;
    max-width: 600px;
    height: auto;
}
.gandalf p {
    padding: auto 10%;
    width: 80%;
    flex-wrap: wrap;
}
.back-home-link{
    display: flex;
    justify-content: center;
    width: 100%;
}