.greeting-info {
  margin: 20px 0px;
}

.center-service-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

p.service-request-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.space-text-center {
  margin: 20px 0px;
  text-align: center;
}

.space-weather-card {
  margin-top: 10px;
}

.greeting-second {
  font-size: 20px;
}

.card-hoover-option:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}
